# Aula 1: Data Types
**02/08/2017**

Objects in Python, like in many other languages, are organized in types, called __classes__. By belonging to a class, objects can be modified by functions (called __methods__) that are defined for objetcs of that class. Later in the course we will learn how to create our own classes and define methods that apply to objetcs that belong to them. For the time being, let us go through some standard classes that will already take us a long way towards solving problems.

In [1]:
! python --version

Python 3.5.4 :: Anaconda custom (64-bit)

# Numbers

There are three basic types of numeric objects in Python. One of then is <tt>int</tt> (for integers), such as -1, 0, 1, 2, and so on.

In [2]:
# type(x) returns the type of the object x.
type(3)

int

The other type of numeric object is <tt>float</tt>, that stores real numbers.
For more information on how Python handles floating point arithmetic, see [this](https://docs.python.org/3/tutorial/floatingpoint.html).

In [3]:
import sys
sys.float_info.mant_dig

53

In [4]:
type(3.0)

float

One can also represent complex numbers (<tt>complex</tt>). A quick refresher on complex numbers can be found [here](https://en.wikipedia.org/wiki/Complex_number) and [here](http://mathworld.wolfram.com/ComplexNumber.html).

In [5]:
type(3.0+0j)

complex

In [6]:
type(complex(3,0))

complex

Notice that although the <tt>int</tt> 3, the <tt>float</tt> 3.0, and the <tt>complex</tt> 3.0+0j represent the same quantity, Python will treat them as different objetcs.

In [7]:
# id(x) returns the the address of the object in memory
print(id(3))
print(id(3.0))
print(id(3.0+0j))

94708970930304
139738084184280
139738084123920

Some operations that we can perform with numbers:

In [8]:
# sum
print(2+3)
print(2+3.0)
print(2+3.0+4+3j)

5
5.0
(9+3j)

Notice that adding two <tt>int</tt>s will return an <tt>int</tt>. But adding an <tt>int</tt> to a <tt>float</tt> will return a <tt>float</tt> (even though the <tt>float</tt> has no decimals). Finally, adding an <tt>int</tt> or a <tt>float</tt> to a <tt>complex</tt> will result in a <tt>complex</tt> object. This rule applies to other operations in Python involving numbers.

In [9]:
# multiplication
print(3*5)
print(3.0*5)
print((3+1j)*(1+3j))

15
15.0
10j

In [10]:
# division
print(9/4)
print(10/5)

2.25
2.0

In [11]:
# quotient (9=4*2+1)
9//4

2

In [12]:
# remainder (9=4*2+1)
9%4

1

In [13]:
# exponentiation
print(2**3)
print(pow(2, 3))
print(2.0**3)
print((-1)**.5)

8
8
8.0
(6.123233995736766e-17+1j)

Sometimes it is convenient to assign an object to a **variable**. The variable inherits several properties of the object itself, but can have its values changed later on. In several programming languages, the variable and the type of data it can store have to be declared at the outset. Python does not require such declaration, and the type of variable can change throughout the code.

In [14]:
x = 8 # int 8 will be assign to variable x
x

8

**Variables naming rules**
* Variables names must start with a letter or an underscore.
* The remainder of your variable name may consist of letters, numbers and underscores.
* Names are case sensitive.

In [15]:
y = 3 # int 3 is assigned to variable y
print(type(y))
y = 3.0 # float 3.0 is assigned to variable y
print(type(y))

<class 'int'>
<class 'float'>

In [16]:
# one object can be assigned to several variable at the same time
a = b = c = 1
print(a)
print(b)
print(c)

1
1
1

Another way to perform basic arithmetic operations:

In [17]:
# sum
x = 2
x += 3
print(x)

5

In [18]:
# multiplication
x = 2
x *= 4
print(x)

8

Other useful functions (methods) that apply to numbers:

In [19]:
# abs(x) returns the absolute value of x
print(abs(-3))
print(abs(-3.0))
print(abs(-3.0+1j))

3
3.0
3.1622776601683795

In [20]:
# int(x) converts float x into an int (x can also be decimal or fraction)
print(int(3.98727364))

3

In [21]:
# float(x) converts int x into a float
print(float(4))

4.0

In [22]:
# x.conjugate() returns the conjugate of the complex x
x = 5+2j
print(x.conjugate())

(5-2j)

What are the methods in a numerical object?

In [23]:
x = 1+2j
print(dir(x))

['__abs__', '__add__', '__bool__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__int__', '__le__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__pos__', '__pow__', '__radd__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmod__', '__rmul__', '__rpow__', '__rsub__', '__rtruediv__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', 'conjugate', 'imag', 'real']

In [24]:
print(x.conjugate.__doc__)

complex.conjugate() -> complex

Return the complex conjugate of its argument. (3-4j).conjugate() == 3+4j.

A rule about assignment to a number:

In [25]:
a=7 # variable a has been assigned to int 7
b=a # variable b has alsoe been assigned to int 7 (through variable a)
print(a)
print(b)

7
7

In [26]:
a=8 # variable a is now assigned to int 8, but variable b is still assined to 7
print(a)
print(b)

8
7

# Strings

A string (<tt>str</tt>) is Pyhton is a sequence of characters.

In [27]:
type('a string.')

str

Strings can be created by enclosing a sequence of characters in single or double quotes.
'string" is NOT valid! 'string'="string".

What is the size of a string?

In [28]:
len('a string.')

9

In [29]:
r = 'a string. ' # created with single quotes.
s = "another string. " # crated with double quotes.
print(r)
print(s)

a string.
another string.

In [30]:
# Two or more strings can be merged into a single string using the '+' operator.
q = r + s
print(q)

a string. another string.

Numbers cannot be merged to strings on the fly. To do so, one has to convert the number to a string before.

In [31]:
# str(x) converts number x to a string.
'number two: ' + str(2)

'number two: 2'

There are methods to extract only a portion of a string.

In [32]:
# Subset of a string
print(s[3]) # returns the character in position 3 (4th character)
print(s[:3]) # returns the 3 leftmost characters. Notice that the 4th element ('t') is NOT returned.
print(s[3:]) # returns the rightmost characters, starting from position 3 (which is included).
print(s[3:5]) # returns characters in positions 3 and 4.
# other interesting slice methods
print(s[:-2])
print(s[-3:])

t
ano
ther string.
th
another string
g.

Although one can access the element in position *i* this way, it is not possible to modify the string directly. <tt>s[3] = "v"</tt> would return an error.

Triple quotes (<tt>'''</tt>) interprets literally whatever is between then, including line brakes.

In [33]:
print('''One line.
Another line.''')

One line.
Another line.

There are more elegant ways to insert line breaks and other control characters.

In [34]:
print('One line.\nAnother line.')

One line.
Another line.

Expressions inside a string that are preceeded by a backslash (<tt>\</tt>) are referred to as escape sequences, and are used - among other things - to insert non-printable and especial characters, such as linebreak (<tt>\n</tt>), tab (<tt>\t</tt>), or a single space (<tt>\s</tt>).

In [35]:
print("a\ttab.")

a	tab.

Strings can be 'multiplied' too.

In [36]:
u = "Timao, eo! "
print(u*2)
print(u*4)

Timao, eo! Timao, eo!
Timao, eo! Timao, eo! Timao, eo! Timao, eo!

Here is a safer, more flexible way to merge strings, using the <tt>format</tt> method.

In [37]:
"{0} é {1}".format("Corinthias", "campeão")

'Corinthias é campeão'

<tt>format</tt> takes the first argument ("Corinthians") and assigns it to the variable 0, which is later called inside the string as '<tt>{0}</tt>'.

In [38]:
team = "Corinthians"
adjective = "campeão"
print("{0} é {1}.".format(team, adjective))
team = "Porco"
adjective = "time sem mundial"
print("{0} é {1}.".format(team, adjective))

Corinthians é campeão.
Porco é time sem mundial.

In [39]:
team = "Corinthians"
titles = 7
print("{0} has won the National Soccer Championship {1} times.".format(team, titles))
team = "Porco"
titles = 5
print("{0} has won the National Soccer Championship {1} times.".format(team, titles))

Corinthians has won the National Soccer Championship 7 times.
Porco has won the National Soccer Championship 5 times.

In [40]:
u.upper()

'TIMAO, EO! '

In [41]:
u.lower()

'timao, eo! '

In [1]:
str(6+9j)

'(6+9j)'

In [2]:
u.split()

NameError: name 'u' is not defined

In [44]:
s = " ";
q = ("Palmeiras", "não", "tem", "mundial.")
print(s.join(q))

Palmeiras não tem mundial.

In [45]:
print("    Palmeiras não tem mundial.      ".strip())

Palmeiras não tem mundial.

In [46]:
u.find('mao')

2

In [47]:
u.find('mão')

-1

In [48]:
u.index('mao')

2

Other <tt>string</tt> methods:

In [49]:
s = "Another string"
print(dir(s))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [50]:
print(s.startswith.__doc__)

S.startswith(prefix[, start[, end]]) -> bool

Return True if S starts with the specified prefix, False otherwise.
With optional start, test S beginning at that position.
With optional end, stop comparing S at that position.
prefix can also be a tuple of strings to try.

In [51]:
print(s.count.__doc__)

S.count(sub[, start[, end]]) -> int

Return the number of non-overlapping occurrences of substring sub in
string S[start:end].  Optional arguments start and end are
interpreted as in slice notation.

# Lists

A <tt>list</tt> is an ordered collection of elements. Each element has two attributes: index (the position it is in, *starting from zero*) and value.

In [52]:
p = ['Fernando', "Ulisses", 'Aureliano', 'Mário', 'Luis' ]
print(type(p))
print(p)

<class 'list'>
['Fernando', 'Ulisses', 'Aureliano', 'Mário', 'Luis']

The element of a list can be accessed by calling its index.

In [53]:
p[0]

'Fernando'

In [54]:
print('p[{index}] returns {value}'.format(index=0, value=p[0]))
print('p[{index}] returns {value}'.format(index=1, value=p[1]))
print('p[{index}] returns {value}'.format(index=2, value=p[2]))
print('p[{index}] returns {value}'.format(index=3, value=p[3]))
print('p[{index}] returns {value}'.format(index=4, value=p[4]))

p[0] returns Fernando
p[1] returns Ulisses
p[2] returns Aureliano
p[3] returns Mário
p[4] returns Luis

What is the size of our list?

In [55]:
# len(f) returns the number of elements of list f.
len(p)

5

The list can be sorted (if all elements can be compared! More about this later in this section). Notice that the indexes associated with each element will change.

In [56]:
print('p before: ' + str(p))
print('p[0] returns ' + str(p[0]))
p.sort() 
print('p after: ' + str(p))
print('p[0] returns ' + str(p[0]))

p before: ['Fernando', 'Ulisses', 'Aureliano', 'Mário', 'Luis']
p[0] returns Fernando
p after: ['Aureliano', 'Fernando', 'Luis', 'Mário', 'Ulisses']
p[0] returns Aureliano

The order of the elements can also be reversed.

In [57]:
print('p before: ' + str(p))
p.reverse() 
print('p after: ' + str(p))

p before: ['Aureliano', 'Fernando', 'Luis', 'Mário', 'Ulisses']
p after: ['Ulisses', 'Mário', 'Luis', 'Fernando', 'Aureliano']

There are two ways to add an element to a list. The method <tt>append</tt> will add the element to the last position.

In [58]:
print('p before: ' + str(p))
p.append('Leonel') 
print('p after: ' + str(p))

p before: ['Ulisses', 'Mário', 'Luis', 'Fernando', 'Aureliano']
p after: ['Ulisses', 'Mário', 'Luis', 'Fernando', 'Aureliano', 'Leonel']

A value can also be added in a specific position. In this scenario, the other indexes may also change.

In [59]:
print('p before: ' + str(p))
p.insert(2, "Roberto")
print('p after: ' + str(p))

p before: ['Ulisses', 'Mário', 'Luis', 'Fernando', 'Aureliano', 'Leonel']
p after: ['Ulisses', 'Mário', 'Roberto', 'Luis', 'Fernando', 'Aureliano', 'Leonel']

Elements of a list can be modified.

In [60]:
print('p before: ' + str(p))
p[5] = 'Ronaldo'
print('p after: ' + str(p))

p before: ['Ulisses', 'Mário', 'Roberto', 'Luis', 'Fernando', 'Aureliano', 'Leonel']
p after: ['Ulisses', 'Mário', 'Roberto', 'Luis', 'Fernando', 'Ronaldo', 'Leonel']

Elements can be removed from the list depende on the value they have. The method <tt>p.remove(v)</tt> will remove all the elements whose value is <tt>v</tt>. Indexes will change.

In [61]:
print('p before: ' + str(p))
print('p[5] before: ' + str(p[2]))
p.remove("Ronaldo")
print('p after: ' + str(p))
print('p[5] after: ' + str(p[2]))

p before: ['Ulisses', 'Mário', 'Roberto', 'Luis', 'Fernando', 'Ronaldo', 'Leonel']
p[5] before: Roberto
p after: ['Ulisses', 'Mário', 'Roberto', 'Luis', 'Fernando', 'Leonel']
p[5] after: Roberto

What is the index of "Luis"?

In [62]:
p.index("Luis")

3

Also possible to remove element according to its index. Remember that the index is the position of the element in the list.

In [63]:
# list.pop(i) removes element in position i.
# Notice that the element that has been just excluded is returned by the method.
print('p before: ' + str(p))
print(p.pop(1) + " has just been excluded.")
print('p after: ' + str(p))

p before: ['Ulisses', 'Mário', 'Roberto', 'Luis', 'Fernando', 'Leonel']
Mário has just been excluded.
p after: ['Ulisses', 'Roberto', 'Luis', 'Fernando', 'Leonel']

<tt>list.pop()</tt> removes the last element of a list (the one with the highest index).

Other <tt>list</tt> methods:

In [64]:
print(dir(p))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

A trick that you should remember. It is true for lists and for other **mutable** objetcs.

In [65]:
a = ['Corinthians', 'Ponte Preta', 8]

In [66]:
b = a
print("a = " + str(a))
print("b = " + str(b))

a = ['Corinthians', 'Ponte Preta', 8]
b = ['Corinthians', 'Ponte Preta', 8]

<tt>a</tt> and <tt>b</tt> are pointing to the same object in memory.

In [67]:
print("id(a) = " + str(id(a)))
print("id(b) = " + str(id(b)))

id(a) = 139738083628936
id(b) = 139738083628936

Let us modify <tt>b</tt>

In [68]:
b[2] = "Guarani"
print("b = " + str(b))

b = ['Corinthians', 'Ponte Preta', 'Guarani']

<tt>a</tt> was also modified.

In [69]:
print("a = " + str(a))

a = ['Corinthians', 'Ponte Preta', 'Guarani']

In [70]:
b = a.copy()

In [71]:
print("id(a) = " + str(id(a)))
print("id(b) = " + str(id(b)))

id(a) = 139738083628936
id(b) = 139738083627208

Lists can store more than one type of data.

In [47]:
p[2] = ["Luis", 13]
print("p = " + str(p))

p = ['Ulisses', 'Roberto', ['Luis', 13], 'Fernando', 'Leonel']

How to merge/combine lists?

In [55]:
p = ['Ulisses', 'Roberto', 'Luis', 'Fernando', 'Leonel']
r = ['Eneas', 'Marronzinho', 'Correa']
print(p+r)
p.append(r)
print(p)
p = ['Ulisses', 'Roberto', 'Luis', 'Fernando', 'Leonel']
r = ['Eneas', 'Marronzinho', 'Correa']
p.extend(r)
print(p)

['Ulisses', 'Roberto', 'Luis', 'Fernando', 'Leonel', 'Eneas', 'Marronzinho', 'Correa']
['Ulisses', 'Roberto', 'Luis', 'Fernando', 'Leonel', ['Eneas', 'Marronzinho', 'Correa']]
['Ulisses', 'Roberto', 'Luis', 'Fernando', 'Leonel', 'Eneas', 'Marronzinho', 'Correa']

In [72]:
p

['Ulisses', 'Roberto', 'Luis', 'Fernando', 'Leonel']

In [76]:
print(sorted(p, reverse=True))

['Ulisses', 'Roberto', 'Luis', 'Leonel', 'Fernando']

In [80]:
p.sort()

In [81]:
p

['Fernando', 'Leonel', 'Luis', 'Roberto', 'Ulisses']

In [82]:
p[1] = "Mário"

In [83]:
p

['Fernando', 'Mário', 'Luis', 'Roberto', 'Ulisses']

# Tuples

A tuple is a sequence of **immutable** Python objects. Unlike lists, once are created, they cannot be modified.

In [84]:
t = (2, 9, 'futebol')
print(type(t))

<class 'tuple'>

Since tuples are immutable, they have only a subset of the methods available for strings.

In [92]:
t[2] = "rugby"

TypeError: 'tuple' object does not support item assignment

In [49]:
print(dir(t))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [86]:
len(t)

3

In [88]:
# quantos objetos na tupla t são iguais a 2?
t.count(2)

1

# Dictionaries

Dictionaries (or hashes) are associative tables, in which indexes are associated with values.

In [97]:
d = { 13: "Lula", 15: "Ulisses", 11: "Maluf", 12: "Brizola", 20: "Collor" }
print(type(d))

<class 'dict'>

Dictionary elements can be accessed like we do with lists and tuples. The keys must be unique and immutable. strings, numbers or tuples will work as dictionary keys.

In [98]:
d[11]

'Maluf'

In [99]:
d[18] = 'Afif'

In [102]:
d

{11: 'Maluf',
 12: 'Brizola',
 13: 'Lula',
 15: 'Ulisses',
 18: 'Afif',
 20: 'Collor'}

In [101]:
f = d

In [103]:
f[11] = ' Afif'

In [104]:
d

{11: ' Afif',
 12: 'Brizola',
 13: 'Lula',
 15: 'Ulisses',
 18: 'Afif',
 20: 'Collor'}

There are <tt>dict</tt> methods that allow us to access the keys and values of the dictionary.

In [105]:
alunos = {}

In [107]:
alunos[9321936] = {'nome': 'João', 'idade': 21, 'esporte': 'volei'}

In [109]:
alunos[9625728] = {'nome': 'Gabriel', 'idade': 22, 'esporte': 'Sporti'}

In [110]:
alunos

{9321936: {'esporte': 'volei', 'idade': 21, 'nome': 'João'},
 9625728: {'esporte': 'Sporti', 'idade': 22, 'nome': 'Gabriel'}}

In [111]:
alunos[9321936]['idade']+alunos[9625728]['idade']

43

In [112]:
print("keys: " + str(alunos.keys()))
print("values: " + str(alunos.values()))

keys: dict_keys([9321936, 9625728])
values: dict_values([{'idade': 21, 'esporte': 'volei', 'nome': 'João'}, {'idade': 22, 'esporte': 'Sporti', 'nome': 'Gabriel'}])

In [18]:
print(d.values.__doc__)

D.values() -> an object providing a view on D's values

In [71]:
print(d.items())

dict_items([(20, 'Collor'), (12, 'Brizola'), (13, 'Lula'), (15, 'Ulisses')])

In [69]:
print(dir(d))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

Dictionaries are mutable, and can be modified pretty much the same we did for lists. This is not true for strings and tuples, which are immutable.

How to delete one of the entries?

In [70]:
del d[11]
print(d)

{20: 'Collor', 12: 'Brizola', 13: 'Lula', 15: 'Ulisses'}

Combining two dictionaries:

In [73]:
e = { 43: "Gabeira", 33: 'Brant', 22: 'Afif' }
d.update(e)
print(d)

{33: 'Brant', 20: 'Collor', 22: 'Afif', 43: 'Gabeira', 12: 'Brizola', 13: 'Lula', 15: 'Ulisses'}

What if one tries to access an index that does not exist?

In [76]:
print(d.get(30)) # default
print(d.get(30, "Não existe"))

None
Não existe

# Sets

In [35]:
l = [1, 2, 3, 1, 3, 3, 2]
print("list l = " + str(l))
sl = set(l)
print("set(l) = " + str(sl))

list l = [1, 2, 3, 1, 3, 3, 2]
set(l) = {1, 2, 3}

In [36]:
dir(sl)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

# Converting between types

In [114]:
t = (1,2,3)
type(t)

tuple

In [115]:
lt = list(t)

In [116]:
print(lt)

[1, 2, 3]

In [117]:
tlt = tuple(lt)
print(tlt)

(1, 2, 3)

In [118]:
list('abcde')

['a', 'b', 'c', 'd', 'e']

In [119]:
lt

[1, 2, 3]

In [121]:
mt = list(lt)

In [122]:
mt

[1, 2, 3]

In [123]:
mt[0]=7
print(mt)

[7, 2, 3]

In [124]:
lt

[1, 2, 3]